<section id="projets" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nos clients</h2>
                <h3 class="section-subheading text-muted">Ils nous sont fidèles depuis le premier jour</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="img/logos/civa.svg" style="height: 130px;" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="img/logos/interrhone.svg" style="height: 130px;" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="img/logos/intervins-sud-est.png" style="height: 130px;" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="img/logos/civp.svg" style="height: 130px;" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="img/logos/vinsvaldeloire.svg" style="height: 130px;" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="img/logos/ava.svg"  style="height: 130px;"  class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="img/logos/ivbd.svg"  style="height: 130px;"  class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="img/logos/ivso.png"  style="height: 130px;"  class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="img/logos/bivc.svg"  style="height: 130px;"  class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="img/logos/aurouze.svg"  style="height: 130px;"  class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
