<!-- Clients Aside -->
    <aside class="clients bg-light-gray" style="padding-bottom: 150px">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a href="#">
                        <img src="img/logos/civa.svg" style="height: 130px;" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a href="#">
                        <img src="img/logos/interrhone.svg" style="height: 130px;" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a href="#">
                        <img src="img/logos/intervins-sud-est.png" style="height: 130px;" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a href="#">
                        <img src="img/logos/civp.svg" style="height: 130px;" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a href="#">
                        <img src="img/logos/vinsvaldeloire.svg" style="height: 130px;" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a href="#">
                        <img src="img/logos/ava.svg"  style="height: 130px;"  class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a href="#">
                        <img src="img/logos/ivbd.svg"  style="height: 130px;"  class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a href="#">
                        <img src="img/logos/bivc.svg"  style="height: 130px;"  class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a href="#">
                        <img src="img/logos/aurouze.svg"  style="height: 130px;"  class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
