<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <address class="lead text-center">
                      <strong>24ème</strong><br />
                       102 rue des Poissonniers<br />
                      75018 Paris<br />
                      <a href="https://www.openstreetmap.org/?mlat=48.89335&mlon=2.35274#map=17/48.89323/2.35213&layers=C"><i class="fa fa-map-o" aria-hidden="true"></i> Carte</a>
                    </address>

                </div>
                <div class="col-xs-12">
                    <address class="lead text-center">
                      <i class="fa fa-phone text-primary" aria-hidden="true"></i> <a href="">01 94 25 84 01</a><br />
                      <i class="fa fa-envelope-o text-primary" aria-hidden="true"></i> <a href="">contact[at]24eme.fr</a><br />
                      <i class="fa fa-comments-o text-primary" aria-hidden="true"></i> <a href="http://webchat.freenode.net?channels=%23le24eme&uio=MTE9NjI30">#le24eme <small>(irc.freenode.net)</small></a>
                    </address>

                </div>
            </div>
        </div>
    </section>
