<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <address class="lead">
                      <strong>24ème</strong><br>
                      12 rue de l'Amiral Mouchez<br>
                      75014 Paris<br><br />
                    </address>

                </div>
                <div class="col-md-6">
                    <address class="lead">
                      <i class="fa fa-phone text-primary" aria-hidden="true"></i> <a href="callto:">01 01 01 01 01</a><br />
                      <i class="fa fa-envelope-o text-primary" aria-hidden="true"></i> <a href="mailto:">contact[at]24eme.fr</a><br />
                      <i class="fa fa-hashtag text-primary" aria-hidden="true"></i> <a href="">le24eme <small>(irc.freenode.net)</small></a>
                    </address>

                </div>
            </div>
        </div>
    </section>
