<!-- Header -->
<header class="bloc-editable">
    <div class="container">
        <a href="https://github.com/24eme/24eme.fr/blob/master/_includes/header.html" class="lien-edition lien-edition-bottom"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <div class="intro-text">
            <div class="intro-heading">Fabricant de logiciels</div>
            <div class="intro-lead-in">Conception et Développement de logiciels libres adaptés aux métiers de nos clients</div>
            <a href="#activite" class="page-scroll btn btn-xl">En savoir plus</a>
        </div>
    </div>
</header>
