    <section id="realisations" class="bloc-editable">
        <div class="container">
            <a href="https://github.com/24eme/24eme.fr/blob/master/_includes/realisations.html" class="lien-edition"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Des réalisations</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"  style="position:relative;">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active text-center">
                          <img src="img/realisations/ava_tournee_organisation.jpg" style="display: inline-block;" alt="">
                          <div class="carousel-caption">
                              <h5>Organisation de tournées de dégustations<br /><small style="color: white;">(Syndicat viticole des Vins d'Alsace)</small></h5>
                          </div>
                        </div>
                        <div class="item text-center">
                          <img src="img/realisations/ava_tournees_smartphone.png" style="display: inline-block;" alt="">
                          <div class="carousel-caption">
                              <h5>Interface de saisie de visites de caves<br /><small style="color: white;">(Syndicat viticole des Vins d'Alsace)</small></h5>
                          </div>
                        </div>
                        <div class="item text-center">
                          <img src="img/realisations/loire_contrat_tablette.png" style="display: inline-block;" alt="">
                          <div class="carousel-caption">
                              <h5>Démateralisation d'un contrat de vente<br /><small style="color: white;">(Vins du Val de Loire)</small></h5>
                          </div>
                        </div>
                        <div class="item text-center">
                          <img src="img/realisations/loire_drm.png" style="display: inline-block;" alt="">
                          <div class="carousel-caption">
                              <h5>Télédéclaration mensuelle d'une obligation douanière viticole<br /><small style="color: white;">(Vins du Val de Loire)</small></h5>
                          </div>
                        </div>
                        <div class="item text-center">
                          <img src="img/realisations/loire_facture.png" style="display: inline-block;" alt="">
                          <div class="carousel-caption">
                              <h5>Générations et éditions de factures<br /><small style="color: white;">(Vins du Val de Loire)</small></h5>
                          </div>
                        </div>
                        <div class="item text-center">
                          <img src="img/realisations/declarvins_cas.jpg" style="display: inline-block;" alt="">
                          <div class="carousel-caption">
                              <h5>Authentification centralisée et sécurisée<br /><small style="color: white;">(Vins du Rhône)</small></h5>
                          </div>
                        </div>
                        <div class="item text-center">
                          <img src="img/realisations/aurouze_passages.png" style="display: inline-block;" alt="">
                          <div class="carousel-caption">
                              <h5>Gestion et organisation de passages de dératisations<br /><small style="color: white;">(Aurouze)</small></h5>
                          </div>
                        </div>
                        <div class="item text-center">
                          <img src="img/realisations/nathanmode.png" style="display: inline-block;" alt="">
                          <div class="carousel-caption">
                              <h5>Plateforme de gestion d'activité<br /><small style="color: white;">(Nathan Mode)</small></h5>
                          </div>
                        </div>
                      </div>
                      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="fa fa-chevron-left glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="fa fa-chevron-right glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                      <div style="background: #000; height: 110px; width: 100%; position: absolute; z-index: 1; opacity: 0.6; bottom: 0px">

                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
